@import '../../assets/theme/constants.less';

@headerAndFooter: calc(@footer-height + @header-height);

#project-list {
  padding-top: 25px;
  // TODO realistic px
  height: calc(100vh - @headerAndFooter - 68px);
  overflow: scroll;
  position: relative;
  width: 100%;
}
.project-list {
  .@{app-prefix}-tabs-top > .@{app-prefix}-tabs-nav .@{app-prefix}-tabs-ink-bar,
  .@{app-prefix}-tabs-top > div > .@{app-prefix}-tabs-nav .@{app-prefix}-tabs-ink-bar {
    background: @border-3;
    height: 3px;
    border-radius: 1.5px;
  }
  .@{app-prefix}-tabs-tab:hover {
    color: @font-2;
  }
  .@{app-prefix}-tabs-tab.@{app-prefix}-tabs-tab-active .@{app-prefix}-tabs-tab-btn {
    color: @font-2;
    font-weight: 500;
  }
  .tab-title {
    width: 150px;
    text-align: center;
  }
  .@{app-prefix}-tabs{
    margin-top: 20px;
  }
  .@{app-prefix}-tabs > .@{app-prefix}-tabs-nav, .@{app-prefix}-tabs > div > .@{app-prefix}-tabs-nav {
    border-bottom: 1px solid @border-4;
  }
  .@{app-prefix}-card-body {
    padding: 0;
  }
  .@{app-prefix}-empty {
    max-width: 100%;
    margin: auto;
    margin-top: 5vh;
    font-size: 24px;
    .@{app-prefix}-empty-image {
      height: 20vh;
      margin-bottom: -10px
    }
  }
}
.tool-row {
  padding: 0 35px;
  .select-col {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    .select-title {
      color: @font-2;
      padding-right: 10px;
    }
    .@{app-prefix}-select {
      flex: 1;
    }
  }
  .input-col, .select-col {
    padding: 0 15px;
  }
  .input-col {
    padding-left: 0;
  }
  .select-col:last-child {
    padding-right: 0;
  }
  .@{app-prefix}-input-suffix {
    .anticon{
      color: @font-3;
    }
  }
  .@{app-prefix}-select .@{app-prefix}-select-selector, .@{app-prefix}-input-affix-wrapper {
    height: 45px;
    border: 1px solid @border-4;
    border-radius: 10px;
    .@{app-prefix}-select-selection-search-input {
      height: 45px;
    }
  }
  .@{app-prefix}-select .@{app-prefix}-select-selector .@{app-prefix}-select-selection-item {
    line-height: 43px;
  }
  
}

.mobile-site {
  .project-list {
    .@{app-prefix}-select .@{app-prefix}-select-selector, .@{app-prefix}-input-affix-wrapper {
      height: 40px;
      .@{app-prefix}-select-selection-search-input {
        height: 40px;
      }
      .@{app-prefix}-input {
        font-size: 12px;
      }
    }
    .@{app-prefix}-select .@{app-prefix}-select-selector .@{app-prefix}-select-selection-item {
      line-height: 37px;
    }
    .tab-title {
      width: 30vw;
    }
    .tool-row {
      .input-col, .select-col{
        padding: 0;
      }
      .@{app-prefix}-select-selector {
        display: flex;
        font-size: 12px;
        &::before {
          line-height: 37px;
          margin-right: 5px;
        }
      }
      .@{app-prefix}-col:nth-child(2) {
        .@{app-prefix}-select-selector {
          &::before {
            content: 'Filter';
          }
        }
      }
      .@{app-prefix}-col:nth-child(3) {
        .@{app-prefix}-select-selector {
          &::before {
            content: 'Sort by';
          }
        }
      }
    }
    .@{app-prefix}-empty {
      font-size: 22px;
      .@{app-prefix}-empty-image {
        height: 35vw;
        margin-bottom: 0;
      }
    }
  }
}
