@import '../../assets/theme/constants.less';
.home {
  background: @bg-2;
  height: calc(100% - @footer-height);
  .home-body {
    position: relative;
    font-size: 30px;
    color: @font-4;
    height: 100%;
    padding: 0 20px;
  }
  .home-card {
    position: relative;
    z-index: 100;
    width: calc(100% - min(40vw, 30vh));
    max-width: calc(100% - 700px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .home-button-row {
      width: 100%;
      button {
        width: 40%;
      }
      .@{app-prefix}-btn-ghost{
        color: @font-4;
       
      }
      button:first-child {
        margin-right: 5%;
      }
    }
    h1{
      font-size: 60px;
      color: @font-4;
    }
    p {
      margin-bottom: 30px;
      font-size: 24px; 
    }
  }
  img {
    position: absolute;
    width: min(80vw, 70vh);
    height: min(85vw, 85vh);
    bottom: max(-6.75vh, -6.75vw);
    right: 0;
    min-width: 700px;
  }
}

@media (max-width:1530px) {
  .home {
    .home-card {
      width: calc(100% - min(75vw, 65vh));
    }
    img {
      width: min(75vw, 65vh);
      height: min(80vw, 80vh);
      bottom: max(-6.35vh, -6.35vw);
    }
  }
}
@media (max-width:1200px) {
  .home {
    .home-card {
      width: calc(100% - min(65vw, 55vh));
    }
    img {
      width: min(65vw, 55vh);
      height: min(70vw, 70vh);
      bottom: max(-5.6vh, -5.6vw);
    }
  }
}
@media (max-width:1000px) {
  .home {
    .home-card {
      width: calc(100% - min(55vw, 45vh));
      max-width: calc(100% - 50vw);
    }
    img {
      width: min(55vw, 45vh);
      height: min(60vw, 60vh);
      bottom: max(-4.8vh, -4.8vw);
      min-width: 50vw;
    }
  }
}

.mobile-site {
  .home {
    .home-card {
      padding-top: 25%;
      justify-content: flex-start;
      text-align: center;
      width: calc(100vw - 4.2857rem);
      max-width: calc(100vw - 4.2857rem);
      margin: auto;
      h1 {
        font-size: 2.5714rem;
      }
      p {
        font-size: 1.1429rem;
      }
    }
    .home-button-row {
      flex-direction: column;
      .@{app-prefix}-btn {
        height: 3.2143rem;
        margin-top: 1.4286rem;
        width: 100%;
      }
    }
    img {
      height: 45vh;
      bottom: -2px;
      left: 0;
      right: 0;
      min-width: 100vw;
    }
  }
}