.project-list {
  width: 100%;
  
  .project-page {
    .project-type {
      color: #070A26;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      margin: 24px 0 16px;
    }
  }
}