@import '../../assets/theme/constants.less';
.create-project .ido-info-wrapper .common-card:last-child{
  margin-bottom: 40px;
}
.edit-information, .create-project {
  min-height: calc(100% - @footer-height);
  padding: 50px 10px;
  .complete-creation, .@{app-prefix}-form {
    max-width: 800px;
    margin: auto;
  }
  .@{app-prefix}-form .@{app-prefix}-form-item {
    .@{app-prefix}-form-item-label, .@{app-prefix}-form-item-control {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .@{app-prefix}-form-item-label{
      padding: 0 0 8px;
      line-height: 1.5715;
      white-space: initial;
      text-align: left;
    }
  }
  .@{app-prefix}-picker, .@{app-prefix}-input, .@{app-prefix}-form-item-control-input .@{app-prefix}-select-selector {
    height: 45px;
    border-radius: 10px;
    .@{app-prefix}-select-selection-placeholder {
      line-height: 43px;
    }
  }
  .@{app-prefix}-select-single .@{app-prefix}-select-selector .@{app-prefix}-select-selection-item, .@{app-prefix}-select-single .@{app-prefix}-select-selector .@{app-prefix}-select-selection-placeholder {
    line-height: 43px;
  }
  .@{app-prefix}-btn {
    width: 100%;
  }
  .@{app-prefix}-steps-item-content {
    width: 100%;
  }
  .@{app-prefix}-steps-label-vertical {
    .@{app-prefix}-steps-item-tail {
      margin-left: 55%;
      width: 90%;
    }
    .@{app-prefix}-steps-item-icon {
      margin-left: calc(50% - 20px);
      background: @bg-4;
      height: 40px;
      width: 40px;
      border-width: 0;
      margin-bottom: 10px;
      .@{app-prefix}-steps-icon {
        line-height: 38px;
        font-size: 26px;
        font-weight: 500;
        color: @font-4;
      }
    }
    .@{app-prefix}-steps-item {
      margin: 0 10px;
    }
    .@{app-prefix}-steps-item:nth-child(4) {
      width: 22%;
    }
  } 
  .@{app-prefix}-steps-item-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }
  .@{app-prefix}-steps-item-description {
    margin-top: 4px;
    font-weight: 300;
    line-height: 20px;
  }
  .@{app-prefix}-steps-item-process > .@{app-prefix}-steps-item-container > .@{app-prefix}-steps-item-icon {
    background-color: @primary-color;
  }
  .input-text-area {
    .@{app-prefix}-input {
      height: 150px;
    }
  }
  // FIXME UI
  // .@{app-prefix}-form {
    // .form-item-row {
    //   .@{app-prefix}-form-item-label{
    //     flex: none;
    //   }
    //   .@{app-prefix}-form-item-control {
    //     flex: 1;
    //   }
    // }
  // }
  .symbol-info-content {
    margin-bottom: 20px;
  }
  .scroll-to-top {
    display: none;
  }
  .@{app-prefix}-alert-warning {
    background: @bg-3;
    border-width: 0;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
    .@{app-prefix}-alert-icon {
      font-size: 18px;
      color: @font-9;
    }
    .@{app-prefix}-alert-message {
      color: @font-7;
      line-height: 16px;
    }
    .@{app-prefix}-alert-description {
      line-height: 18px;
    }
  }
  .alert-error {
    .@{app-prefix}-alert-message {
      color: @font-9;
    }
  }
  .@{app-prefix}-tabs-tabpane {
    margin-top: 25px;
  }
}
.mobile-site {
  .mobile-step {
    width: 100%;
    .mobile-step-icon {
      width: 35px;
      height: 35px;
      background: @bg-10;
      color: @font-4;
      text-align: center;
      line-height: 35px;
      border-radius: 50%;
      font-weight: 600;
      font-size: 16px;
    }
    .mobile-step-title {
      position: relative;
      width: 90%;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      color: @font-2;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid @border-4;
      &::before{
        position: absolute;
        content: '';
        bottom: -5px;
        height: 5px;
        width: 40%;
        background: @bg-10;
        align-self: center;
        left: 30%;
      }
    }
    .mobile-step-description {
      max-width: 90%;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
    }
  }
  .@{app-prefix}-tabs-top > .@{app-prefix}-tabs-nav::before, .@{app-prefix}-tabs-top > div > .@{app-prefix}-tabs-nav::before {
    border-width: 0;
  }
  .edit-information, .create-project {
    padding: 40px 20px;
    .@{app-prefix}-tabs > .@{app-prefix}-tabs-nav .@{app-prefix}-tabs-nav-wrap, .@{app-prefix}-tabs > div > .@{app-prefix}-tabs-nav .@{app-prefix}-tabs-nav-wrap {
      display: none;
    }
    .scroll-to-top {
      display: flex;
      margin: auto;
      margin-top: 20px;
    }
  }
  .form-button-row {
    .@{app-prefix}-col {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .@{app-prefix}-col:last-child {
      margin-top: 15px;
      margin-left: 0;
    }
  }
}
