@primary-color: ~'var(--@{app-prefix}-primary-color)';
@dark-color: ~'var(--@{app-prefix}-dark-color)';
@card-bg: ~'var(--@{app-prefix}--card-bg)';
@gray-bg: ~'var(--@{app-prefix}-gray-bg)';
@bg1: ~'var(--@{app-prefix}-bg1)';

@font-1: #595959;
@font-2: #000000;
@font-3: #cccccc;
@font-4: white;
@font-5: #d27974;
@font-6: #101f4b;
@font-7: #4e4e66;
@font-8: #0182f0;
@font-9: #ce342a;
@font-10: #4666c4;
@font-11: #8989a3;

@border-1: #d7dbe0;
@border-2: #1e2a36;
@border-3: #4666c4;
@border-4: #cccccc;
@border-5: #0182f0;
@border-6: #e6e6eb;
@border-7: #ce342a;

@bg-1: white;
@bg-2: #101f4b;
@bg-3: rgb(245 245 245);
@bg-4: #cccccc;
@bg-5: rgba(70, 102, 196, 0.2);
@bg-6: #72db8f;
@bg-7: #021241;
@bg-8: rgba(210, 121, 116, 0.2);
@bg-9: #d27974;
@bg-10: #0182f0;
@bg-11: rgba(1, 130, 240, 0.2);
@bg-12: #f2f8fe;

@btn-bg-1: #ed6868;

/* progress */
@progress1: #4666c4;
@progress2: #72db8f;
@progress3: #d27974;
@progress4: #cccccc;

@statusColors: @progress1, @progress2, @progress3, @progress4;
