/* button */
.@{app-prefix}-btn-dangerous.@{app-prefix}-btn-link span {
  text-decoration: underline;
}

.@{app-prefix}-btn {
  width: 100%;
}

/* modal */
.@{app-prefix}-modal-title {
  text-align: center;
}
