/* button */
.@{app-prefix}-btn-dangerous.@{app-prefix}-btn-link span {
  text-decoration: underline;
}

.@{app-prefix}-btn {
  width: 100%;
}

/* modal */
.@{app-prefix}-modal-title {
  text-align: center;
}

/* tooltip */
.@{app-prefix}-tooltip .@{app-prefix}-tooltip-inner {
  min-width: auto;
  min-height: auto;
}
